@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid v.$secondary-color;
  padding: 1rem;
  > p {
    text-align: right;
  }
  > * {
    flex: 1 0 auto;
  }
  @media (min-width: v.$mobile) {
    padding: 1rem 50px;
  }
}
.social-list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  margin: auto;
  @media (min-width: v.$mobile) {
    gap: 1rem;
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}