@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid v.$deco-color;
  margin: 0 50px;

  h1 {
    font-size: 2rem;
    padding-left: 1rem;
  }

  nav{
    display: flex;
    gap: 26px;
    font-size: 12px;
    .active{
      text-decoration: underline;
    }
    @media (min-width: v.$tablet) {
      font-size: 24px;
      gap: 57px;
    }
    .menu-icon{
      width: 30px;
      height: 30px;
      fill: v.$secondary-color;
    }
  }
  
}