@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

html {
  scroll-behavior: smooth;
  height: 100%;
  background-color: v.$bg-color-1;
}
  
body {
  height: 100%;
  margin: 0;
}
    
#root{
  min-height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 100px;
  background-color: v.$bg-color-0;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
  @media (min-width: v.$mobile) {
    width: 95%;
    max-width: none;
    margin: 0 auto;
  }
  @media (min-width: v.$tablet) {
    grid-template-rows: 68px 1fr 100px;
  }
  @media (min-width: v.$desktop) {
    width: 100%;
    max-width: 900px;
  }
}
  
.container{
  margin-bottom: 2rem;
  scroll-margin-top: 70px;

  @media (min-width: v.$mobile) {
    margin: 0 50px 6rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.25rem;
  }
}

.dialog-content{
  padding: 1.5rem 1.4rem;
  .main-title{
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }
  .dialog-description{
    line-height: 1.5rem;
  }
}

.portrait-outline{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  svg{
    width: 200px;
    grid-column: 2;
    display: block;
    margin: auto;
  }
  path {
    stroke-dashoffset: 0px;
    stroke-dasharray: 285px;
    animation: dash 3s 3s linear infinite forwards;
    stroke-width: 0.75;
  }
}

@keyframes dash {
  0%{
    stroke-dashoffset: 285px;
  }
  50%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: -285px;
  }
}