@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.chapter {
  &-divider {
    display: block;
    margin: 2rem auto;
  }
  &-block{
    margin: auto 1rem;
    padding: 0 0.8rem;
    background-color: v.$bg-color-2;
    border-radius:0.4rem;
    position: relative;
    @media (min-width: v.$mobile) {
      margin: auto;
      padding: 0 2rem;
    }
    .top-indent, .bottom-indent{
      @include m.chevron;
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      &::before{
        @include m.chevron-before;
        border-top-color: #ffffff;
      }
    }
    .top-indent{
      top: 0;
    }
    .bottom-indent{
      bottom: 0;
      transform: rotate(180deg);
    }
  }
  &-content{
    border-left: 2px dashed #ffffff;
    border-right: 2px dashed #ffffff;
    padding: 2.5rem 0;
    @media (min-width: v.$mobile) {
      border-left: 4px dashed #ffffff;
      border-right: 4px dashed #ffffff;
    }
    h2{
      text-align: center;
      position: relative;
      padding-bottom: 0.5rem;
      margin-bottom: 3rem;
      @media (min-width: v.$tablet) {
        margin-bottom: 4rem;
      }
      &::after{
        @include m.before-after;
        width: 4rem;
        margin: auto;
        border-top: 1px solid v.$secondary-color;
        top: auto;
      }
    }
    h3{
      position: relative;
      padding-bottom: 0.5rem;
      margin: 0 0 1.5rem 3rem;
      @media (min-width: v.$mobile) {
        margin: 0 2rem 1.5rem;
      }
      @media (min-width: v.$tablet) {
        margin: 0 0 1.5rem 6rem;
      }
      &::after{
        @include m.before-after;
        width: 4rem;
        border-top: 1px solid v.$secondary-color;
        top: auto;
      }
    }
    .card{
      margin: 0 1.3rem 2.7rem;
      background-color: rgba(255,255,255,0.9);
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
      @media (min-width: v.$tablet) {
        padding: 1rem 4rem;
        margin: 0 2rem 3rem;
      }
      &>ul{
        @media (min-width: v.$tablet) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 2rem;
          grid-row-gap: 0.5rem;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    .projet{
      display: grid;
      padding: 0;
      margin-bottom: 2rem;
      grid-template-rows: auto 1fr;
      grid-column-gap: 2rem;
      grid-auto-flow: row;
      overflow: hidden;
      line-height: 1.5;
      @media (min-width: v.$tablet) {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
      }
      &-texts {
        padding: 1rem;
        align-self: center;
        text-align: center;
        @media (min-width: v.$tablet) {
          padding: 2rem 0 2rem 2rem;
        }
      }
      &:nth-child(even){
        .projet-texts{
          @media (min-width: v.$tablet) {
            padding: 2rem 2rem 2rem 0;
            grid-column: 2;
          }
        }
      }
      &-visuel{
        display: block;
        object-fit: cover;
        height: 100%;
        object-position: top left;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
      }
      h4{
        margin-bottom: 0.5rem;
      }
    }
  }
}
