@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.location-tags-host-and-rate{
  @media (min-width: v.$desktop) {
    @include m.center-by-flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
.location-and-tags{
  margin-bottom: 16px;
  @media (min-width: v.$tablet) {
    flex: 1 1 0;
    margin-bottom: auto;
  }
  h1{
    font-size: 18px;
    text-wrap: balance;
    margin-bottom: 5px;
    @media (min-width: v.$tablet) {
      font-size: 36px;
    }
  }
  h2{
    font-size: 14px;
    margin-bottom: 10px;
    @media (min-width: v.$tablet) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag{
  @include m.center-by-flex;
  background-color: v.$primary-color;
  border-radius: 5px;
  min-width: 84px;
  height: 18px;
  padding: 0px 7px;
  color: v.$secondary-color;
  font-size: 10px;
  @media (min-width: v.$tablet) {
    border-radius: 10px;
    min-width: 115px;
    height: 25px;
    font-size: 14px;
  }
}
.host-and-rate{
  @include m.center-by-flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 13px;
  @media (min-width: v.$desktop) {
    display: block;
    margin-bottom: auto;
  }
}
.host{
  @include m.center-by-flex;
  gap: 10px;
  @media (min-width: v.$tablet) {
    justify-content: right;
    margin-bottom: 20px;
  }
}
.host-name{
  text-align: right;
  font-size: 12px;
  @media (min-width: v.$tablet) {
    font-size: 18px;
  }
}
.host-picture{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  @media (min-width: v.$tablet) {
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
}
.rate{
  width: 98px;
  height: 18px;
  @media (min-width: v.$tablet) {
    width: auto;
    height: auto;
  }
}
.description-and-equipments{
  @media (min-width: v.$desktop) {
    display: flex;
    flex-wrap: nowrap;
    gap: 6%;
    width: 100%;
    align-items: flex-start;
    .folder{
      flex: 1 1 0;
    }
  }
}