// colors
$primary-color: #333333;
$secondary-color: #1D3557;
$bg-color-0: #FFFFFF;
$bg-color-1: #F1FAEE;
$bg-color-2: #A8DADC;
$bg-color-3: #CAD4E4;
$deco-color: #E63946;

$third-color: #000000;
$fourth-color: #f6f6f6;

// dimensions
$max-site-width: 1080px;
$lateral-sides: 4.5%;
$dish-status-width: 3.75rem;

// fonts size
$fz-1: 1.5rem;
$fz-2: 1.125rem;
$fz-3: 1.063rem;
$fz-4: 0.938rem;
$fz-5: 0.875rem;

// breakpoints
$mobile: 460px;
$tablet: 640px;
$desktop: 960px;